@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, span {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  background: #080808;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1120px;
  margin: 0 auto;
}

.btn_rose {
  background: #EB1D5B;
  height: 48px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 140%;
  gap: 6px;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
}
.btn_light_border {
  background: black;
  height: 48px;
  border: 1px solid #A6A6A6;
  border-radius: 6px;
  padding: 0 11px;
}

.sec_title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}
.sec_title span {
  border-bottom: 1px solid #EB1D5B;
  padding: 0 10px;
}

.border_gradient {
  position: relative;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 7px;
}
.border_gradient::before {
  border-radius: 6px;
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  background: linear-gradient(11deg, #3B3C3E, rgba(0, 0, 0, 0), #3B3C3E) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.header {
  top: 30px;
}
.header__nav {
  gap: 20px;
  padding-top: 35px;
}
.header__nav a {
  font-size: 14px;
  line-height: 140%;
  width: 156px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__nav a.active, .header__nav a:hover {
  background: linear-gradient(135.29deg, rgba(20, 0, 255, 0.05) 1.042%, rgba(20, 0, 255, 0) 100%), rgba(255, 255, 255, 0.01);
}
.header__nav a.active::before, .header__nav a:hover::before {
  background: linear-gradient(11deg, #3A2C74, #231563, #BFB1F6) border-box;
}
.header__account_top {
  margin-bottom: 10px;
}
.header__account_top .account_ip {
  font-size: 12px;
  line-height: 140%;
  color: #9FCCD4;
}
.header__account_top .account_ip span {
  color: #FFFFFF;
}
.header__account_bottom {
  gap: 8px;
}
.header__account_bottom button {
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}
.header__account_bottom button.auth_btn::before {
  background: linear-gradient(11deg, #673344, #451121, #622E3E) border-box;
}

.home {
  background: url("../images/home_bg.png") center/cover no-repeat;
  padding-top: 210px;
}
.home .main_container {
  position: relative;
}
.home__phone_img {
  position: absolute;
  top: 0;
  left: -346px;
}
.home__content {
  width: 544px;
  gap: 52px;
  margin-bottom: 133px;
}
.home__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}
.home__line {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #EB1D5B;
}
.home__subtitle {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 140%;
}
.home h3 {
  color: #9FCCD4;
  font-size: 20px;
  line-height: 140%;
  gap: 6px;
}
.home .btn_rose {
  width: 352px;
}
.home .download_link {
  gap: 20px;
}
.home .download_link a {
  width: 165px;
}
.home__card {
  margin-bottom: 92px;
  gap: 32px;
}
.home__card_item {
  padding: 24px 16px;
  width: calc(33.3333333333% - 21.3333333333px);
}
.home__card_item::before {
  background: linear-gradient(40deg, #3B3C3E, rgba(0, 0, 0, 0), #3B3C3E) border-box;
}
.home__card_item h4 {
  margin: 24px 0 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.home__card_item h4 span {
  border-bottom: 1px solid #EB1D5B;
  padding: 0 10px;
}
.home__card_item p {
  font-size: 14px;
  line-height: 140%;
}

.ease_use__title {
  margin-bottom: 52px;
}
.ease_use__slider {
  gap: 20px;
}
.ease_use__slider_prev, .ease_use__slider_next {
  width: 50px;
  height: 60px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: rgba(17, 8, 44, 0.13), rgba(255, 255, 255, 0.01);
}
.ease_use__slider_prev::before, .ease_use__slider_next::before {
  background: linear-gradient(40deg, #3B3C3E, rgba(0, 0, 0, 0), #3B3C3E) border-box;
}
.ease_use__slider .swiper-slide img {
  width: 100%;
}

@media (max-width: 1156px) {
  .main_container {
    max-width: calc(100% - 32px);
  }
}/*# sourceMappingURL=style.css.map */